<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Pacifico" rel="stylesheet">
    <title><%= current_page.data.title || "Middleman" %></title>
    <% title = current_page.data.title.gsub(/\s+/, "") %>
    <%= stylesheet_link_tag title.downcase %>
    <% if current_page.data.additional_js %>
      <% current_page.data.additional_js.each do |js| %>
        <%= javascript_include_tag js %>
      <% end %>
    <% end %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117977066-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-117977066-1');
    </script>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
